<div class="container">
    <!-- <h1 class="bd-title text-info" commonTranslate>{{rootTranslateService.get('My Skills')}}</h1> -->
    <h1 class="bd-title text-info" translateCommon>My Skills</h1>
    <p translate>MySkills1</p>
    <div translate>
        <ul>
            <li translate>MySkills2</li>
            <li translate>MySkills3</li>
            <li translate>MySkills4</li>
            <li translate>MySkills5</li>
            <li translate>MySkills6</li>
            <li translate>MySkills7</li>
            <li translate>MySkills8</li>
        </ul>
    </div>
</div>