<div class="container">
  <h1 translate class="bd-title text-info">Welcome</h1>
  <div class="container row">
    <div class="col-sm-2">
      <img src="../../assets/profile.png">
    </div>
    <div class="col-sm-10 text-left text-primary">
      <h2>BIBIN PHILIP</h2>
      <h4 translate>Designation</h4><div class="text-secondary">ASP.NET | Web API | C#.NET | Dependency Injection | Angular | jQuery</div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p translate class="col-12 text-justify" style="margin:10px">Description</p>
    </div>
  </div>
</div>